* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

th {

    border-collapse: collapse;
}

h1 {
    font-style: italic;
    text-align: left;

}